<div class="header">Angular Bot</div>
<div class="footer">
  <div #scrollMe class="msg-scroll">
    <ng-container *ngFor="let message of messages | async">
      <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot', 'to':   message.sentBy === 'user' }">
        {{ message.content }}
      </div>
    </ng-container>
  </div>
  <div class="input-btns">
    <label for="nameField">Your Message</label>
    <input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text">
    <button class="float-right" (click)="sendMessage()">Send</button>
  </div>
</div>
