.message {
  border-radius: 25px;
  margin: 0 15px 10px;
  padding: 15px 20px;
  position: relative;
  font-weight: bold;
}

.message.to {
  background-color: #2095FE;
  color: #fff;
  margin-left: 20%;
  text-align: right;
}

.message.from {
  background-color: #E5E4E9;
  color: #363636;
  margin-right: 25%;
}

.message.to+.message.to,
.message.from+.message.from {
  margin-top: -10px;
}

.header {
  text-align: center;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .footer {
    padding-left: 54rem;
    padding-right: 54rem;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 767.98px) {
  .input-btns {
    position: relative;
    width: 100%;
    padding: 12px;
  }
  .footer {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  textarea {
    font-size: 24px;
  }
  .message {
    font-size: 20px;
  }
}

.msg-scroll {
  overflow-y: auto;
  max-height: 410px;
}

.input-btns {
  position: relative;
}

textarea {
  margin-bottom: 0px;
}

.header {
  position: relative;
  z-index: 1;
  background-color: #9b4dca;
  color: #fff;
}
